.btn-login {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 4px 14px;
  font-size: 14px;
  color: #24633d;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}

.btn-signup {
  background: #00c14d;
  border: none;
  border-radius: 5px;
  padding: 4px 16px;
  font-size: 16px;
  color: #f7f7fc;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  cursor: pointer
}

.btn-started {
  margin-top: 2rem;
  background: #00c14d;
  border: none;
  border-radius: 5px;
  padding: 10px 48px;
  color: #f7f7fc;
  font-family: "Montserrat";
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.create-account {
  background: #24633d;
  border: none;
  border-radius: 5px;
  padding: 14px 74px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.signin-account {
  color: #00c14d;
  border: 2px solid #00c14d;
  background-color: transparent;
  border-radius: 5px;
  padding: 12px 46px;
  font-size: 16px;
  cursor:pointer;
}

.signup {
  margin-top: 10px;
  background: #24633d;
  border-radius: 8px;
  height: 56px;
  width: 100%;
  color: #f7f7fc;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.login {
  margin-top: 20px;
  background: #24633d;
  border-radius: 8px;
  height: 56px;
  width: 100%;
  color: #f7f7fc;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}

.analysis-form-btn {
  background: #24633d;
  border-radius: 8px;
  width: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #ffffff;
  padding: 10px 0;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
