.activation-screen-container {
  display: flex;
  overflow: hidden;
}

.activation-screen-content {
  width: 65%;
}

.arrow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
}

.activation-screen-text {
  margin-top: 100px;
  text-align: center;
}

.envelope {
  color: #e09a3f;
  font-size: 90px;
}

.first-p {
  color: #24633d;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  margin-top: 15px;
}

.second-p {
  margin-top: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #303030;
}

.third-p a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #00c14d;
  text-decoration: none;
}

.forth-p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.resend-btn {
  margin-top: 30px;
  background: #24633d;
  border-radius: 8px;
  height: 56px;
  width: 60%;
  color: #f7f7fc;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  font-family: "Open Sans";
}

.activation-image-container {
  position: relative;
  width: 35%;
}

.activation-image-containerr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.3;
}

.activation-image-container img {
  height: 100vh;
  object-fit: cover;
}

.main-text {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: 0.02em;
  left: 20px;
  top: 40px;
  color: #fff;
}

.footer-text p {
  position: absolute;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #ffffff;
  right: 20px;
  bottom: 20px;
}
